/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: CustomFont; /* Ваш выбранный шрифт */
    background-color: #c18954;
}

header {
    background-color: #b97b41;
    color: #9a2a2a;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header img {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #6f3612;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav ul li a:hover {
    color: #9a2a2a;
    text-decoration: underline;
}

.contact-info {
    background-color: #b97b41;
    color: #6f3612;
    padding: 20px;
    margin-top: 20px;
}

.contact-info h2 {
    margin-top: 20px;
}

.contact-form {
    background-color: #c18954;
    color: #6f3612;
    padding: 20px;
    margin-top: 20px;
}

.contact-form h2 {
    margin-top: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #9a2a2a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #6f3612;
}

footer {
    background-color: #b97b41;
    color: #6f3612;
    text-align: center;
    padding: 10px 0;
}
