* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: CustomFont; 
    src: url('fonts/Bankir-Retro.ttf') format('truetype'); 
}

body {
    font-family: CustomFont; 
}

header {
    background-color: #b97b41;
    color: #9a2a2a;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #b97b41;
    color: #9d2f2d;
    text-align: center;
    padding: 10px 0;
}

.featured-products {
    background-color: #c18954;
    padding: 20px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.featured-products h2 {
    margin-top: 20px;
    color: #9a2a2a;
}

.product img {
    width: 184px;
    height: 230px;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(0.9);
}

.product-name {
    font-weight: bold;
    color: #9a2a2a;
}

.product-price {
    color: #9a2a2a;
}

.product-availability {
    color: #2c5500;
}

.best-sellers {
    background-color: #c18954;
    padding: 20px;
}

.best-sellers h2 {
    margin-top: 20px;
    color: #9a2a2a;
}

.best-sellers .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.best-sellers .product {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
    margin-right: 20px;
}

.best-sellers .product:last-child {
    margin-right: 0;
}

.best-sellers .product img {
    width: 184px;
    height: 230px;
    margin-bottom: 10px;
    margin-top: 20px;
}

a {
    color: #9a2a2a;
    text-decoration: none;
}

.shop-categories {
    background-color: #b97b41;
    padding: 20px;
}

.shop-categories h2 {
    margin-top: 20px;
    color: #9a2a2a;
}

.category-list {
    display: flex;
    justify-content: space-between;
}

.category {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.category img {
    width: 184px;
    height: 230px;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.category img:hover {
    transform: scale(0.9);
}

.category-name {
    font-weight: bold;
    color: #9a2a2a;
}
